# node & npm related stuff
node_modules/
node_modules
.nvmrc

# ignore error logs
npm-debug.log*
yarn-error.log

# ignore anything in the temp folder
tmp/

# ignore Visual Studio Code settings
.vscode/
